{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgFOSUserBundle' %}
{% set page_title = 'directory.title'|trans %}

{% block content %}
  <p><div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>{{ knp_pagination_sortable(users, 'profile.label.name'|trans, 'u.first_name') }}</th>
          <th>{{ 'profile.label.roles'|trans }}</th>
          <th>{{ knp_pagination_sortable(users, 'profile.label.email'|trans, 'u.email') }}</th>
          <th>{{ knp_pagination_sortable(users, 'profile.label.phone'|trans, 'u.phone') }}</th>
          <th>{{ 'profile.label.facebook'|trans }}</th>
          <th>{{ 'profile.label.twitter'|trans }}</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td style="width: 4em;">{% include '@BkstgCore/_profile_picture.html.twig' with { 'user': user } only %}</td>
            <td><a href="{{ url('bkstg_production_directory_show', { 'production_slug': production.slug, 'profile_slug': user.slug }) }}">{{ user }}</td>
            <td>
              <ul>
                {% set membership = get_membership(production, user) %}
                {% for role in membership.productionRoles|default([]) %}
                  <li><strong>{{ role.designation }}</strong>: {{ role.name }}</li>
                {% else %}
                  <li class="text-muted">{{ 'profile.no_roles'|trans }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>{% if user.email %}<a href="mailto:{{ user.email }}">{{ user.email }}</a>{% endif %}</td>
            <td>{% if user.phone %}<a href="tel:{{ user.phone }}">{{ user.phone }}</a>{% endif %}</td>
            <td>{{ user.facebook }}</td>
            <td>{{ user.twitter }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="7">{{ 'profile.no_profiles'|trans }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div></p>
  {{ knp_pagination_render(users) }}
{% endblock %}
