{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgFOSUserBundle' %}
{% set page_title = 'profile.profile_for'|trans({ '%name%': user }) %}

{% block content %}
  <div class="row">
    <div class="col-lg-3">
      {% media user.image, 'big' with {'class': 'img-fluid'} %}
    </div>
    <div class="col-lg-9">
      <dl class="row">
        <dt class="col-sm-3">{{ 'profile.label.name'|trans }}</dt>
        <dd class="col-sm-9">{{ user }}</dd>

        <dt class="col-sm-3">{{ 'profile.label.email'|trans }}</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>

        {% if user.height is not null %}
          <dt class="col-sm-3">{{ 'profile.label.height'|trans }}</dt>
          <dd class="col-sm-9">
            {{ user.height.toUnit('m')|round(0, 'floor') }} {{ 'unit.meters.abbr'|trans }}
          </dd>
        {% endif %}

        {% if user.weight is not null %}
          <dt class="col-sm-3">{{ 'profile.label.weight'|trans }}</dt>
          <dd class="col-sm-9">{{ user.weight.toUnit('kg')|round }} {{ 'unit.kilograms.abbr'|trans }}</dd>
        {% endif %}

        <dt class="col-sm-3">{{ 'profile.label.phone'|trans }}</dt>
        <dd class="col-sm-9">{{ user.phone }}</dd>

        <dt class="col-sm-3">{{ 'profile.label.websites'|trans }}</dt>
        <dd class="col-sm-9">
          <ul>
            <li><a href="{{ user.facebook }}">{{ 'profile.label.facebook'|trans }}</a></li>
            <li><a href="{{ user.twitter }}">{{ 'profile.label.twitter'|trans }}</a></li>
          </ul>
        </dd>

        <dt class="col-sm-3">{{ 'profile.label.roles'|trans }}</dt>
        <dd class="col-sm-9">
          <ul>
            {% for role in membership.productionRoles %}
              <li><strong>{{ role.designation }}</strong>: {{ role.name }}</li>
            {% else %}
              <li>{{ 'profile.no_roles'|trans }}</li>
            {% endfor %}
          </ul>
        </dd>
      </dl>
    </div>
  </div>
{% endblock %}
