{% extends '@BkstgCore/layout-admin.html.twig' %}
{% trans_default_domain 'BkstgFOSUserBundle' %}
{% set page_title = 'users'|trans %}

{% block content %}
  {# Archive information #}
  <div class="alert alert-info">
    {{ 'user.archive_info'|trans }}
  </div>

  {# Table of existing users. #}
  <p><div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>{{ knp_pagination_sortable(users, 'user.label.username'|trans, 'u.username') }}</th>
          <th>{{ knp_pagination_sortable(users, 'user.label.email'|trans, 'u.email') }}</th>
          <th>{{ 'user.label.roles'|trans }}</th>
          <th>{{ 'user.label.status'|trans }}</th>
          <th>{{ knp_pagination_sortable(users, 'user.label.last_login'|trans, 'u.lastLogin') }}</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>
            <div class="btn-group btn-group-sm">
              <a href="{{ url('bkstg_user_admin_update', {'id': user.id}) }}" class="btn btn-info"><i class="fa fa-pencil-alt" aria-hidden="true"></i><span class="sr-only">{{ 'user.edit'|trans }}</span></a>
              <a href="{{ url('bkstg_user_admin_delete', {'id': user.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">{{ 'user.delete'|trans }}</span></a>
            </div>
          </td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <ul>
              {% for role in user.roles %}
                <li>{{ role }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ user.enabled ? 'user.active'|trans : 'user.blocked'|trans }}</td>
          <td>{{ user.lastLogin ? user.lastLogin|date(full_date) : '' }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="6">{{ 'user.archive_no_users'|trans }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div></p>
  {{ knp_pagination_render(users) }}
{% endblock %}
