{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = '%production% Members'|trans({'%production%': production.name}) %}
{% block content %}
  {% include '@BkstgFOSUser/ProductionMembership/_actions.html.twig' %}
  <p><div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{ 'User'|trans }}</th>
          <th>{{ 'Roles'|trans }}</th>
          <th>{{ 'Expiry'|trans }}</th>
          {% if is_granted('GROUP_ROLE_ADMIN', production) %}
            <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for membership in memberships %}
        <tr>
          <td>{{ membership.member.username }}</td>
          <td>
            <ul>
              {% for role in membership.roles %}
                <li>{{ role }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ membership.expiry ? membership.expiry|date : '' }}</td>
          <td>
            {% if is_granted('GROUP_ROLE_ADMIN', production) %}
              <a href="{{ url('bkstg_production_membership_update', {'production_slug': production.slug, 'id': membership.id}) }}">Edit</a>
              -
              <a href="{{ url('bkstg_production_membership_delete', {'production_slug': production.slug, 'id': membership.id}) }}">Delete</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div></p>
{% endblock %}
