{% extends '@BkstgCore/layout-admin.html.twig' %}
{% set page_title = 'Delete "%user%"\'s membership'|trans({'%user%': membership.member.username}) %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block content %}
  <p>{{ 'Are you sure you want to delete "%user%"\'s membership?'|trans({'%user%': membership.member.username}) }}</p>
  <p>{{ 'All content associated with this membership will be lost or orphaned.'|trans }}</p>
  <p><strong>{{ ' This action cannot be undone.'|trans }}</strong></p>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <a href="{{ url('bkstg_production_membership_index', {'production_slug': production.slug}) }}" class="btn btn-secondary">{{ 'Cancel'|trans }}</a>
      <button type="submit" class="btn btn-danger">{{ 'Delete'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
