{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgFOSUserBundle' %}
{% set page_title = 'production_membership.delete'|trans({ '%user%': membership.member }) %}

{% block content %}
  {% include '@BkstgFOSUser/ProductionMembership/_actions.html.twig' with { 'membership': membership } only %}
  <p>{{ 'production_membership.delete_confirm'|trans({ '%user%': membership.member }) }}</p>
  <p>{{ 'production_membership.delete_consequences'|trans }}</p>
  <p><strong>{{ 'production_membership.delete_no_undo'|trans }}</strong></p>
  {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
      <a href="{{ url('bkstg_user_admin_index') }}" class="btn btn-secondary">{{ 'cancel'|trans }}</a>
      <button type="submit" class="btn btn-danger">{{ 'delete'|trans }}</button>
    </div>
  {{ form_end(form) }}
{% endblock %}
