{% extends '@BkstgCore/layout.html.twig' %}
{% trans_default_domain 'BkstgFOSUserBundle' %}
{% set page_title = 'production_membership.members'|trans({ '%production%': production.name }) %}

{% block content %}
  {# Link to create a new membership. #}
  <a href="{{ url('bkstg_production_membership_create', { 'production_slug': production.slug }) }}" class="btn btn-success">
    <i class="fa fa-plus" aria-hidden="true"></i> {{ 'production_membership.create'|trans }}
  </a>

  {# Table of existing memberships. #}
  <p>{% include '@BkstgFOSUser/ProductionMembership/_actions-index.html.twig' %}</p>
  <p><div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>{{ 'production_membership.label.user'|trans }}</th>
          <th>{{ 'production_membership.label.roles'|trans }}</th>
          <th>{{ 'production_membership.label.production_roles'|trans }}</th>
          <th>{{ 'production_membership.label.status'|trans }}</th>
          <th>{{ knp_pagination_sortable(memberships, 'production_membership.label.expiry'|trans, 'm.expiry') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for membership in memberships %}
          <tr>
            <td>
              <div class="btn-group btn-group-sm">
                <a href="{{ url('bkstg_production_membership_update', { 'production_slug': production.slug, 'id': membership.id}) }}" class="btn btn-info"><i class="fa fa-pencil-alt" aria-hidden="true"></i><span class="sr-only">{{ 'edit'|trans }}</span></a>
                <a href="{{ url('bkstg_production_membership_delete', { 'production_slug': production.slug, 'id': membership.id}) }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i><span class="sr-only">{{ 'delete'|trans }}</span></a>
              </div>
            </td>
            <td>
              {% if membership.member.slug is not empty %}
                <a href="{{ url('bkstg_production_directory_read', { 'production_slug': production.slug, 'profile_slug': membership.member.slug }) }}">{{ membership.member }}</a>
              {% else %}
                {{ membership.member }}
              {% endif %}
            </td>
            <td>
              <ul>
                {% for role in membership.roles %}
                  <li>{{ role }}</li>
                {% else %}
                  <li class="text-muted">{{ 'production_membership.no_roles'|trans }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <ul>
                {% for production_role in membership.productionRoles %}
                  <li><strong>{{ production_role.designation }}</strong>: {{ production_role.name }}</li>
                {% else %}
                  <li class="text-muted">{{ 'production_membership.no_production_roles'|trans }}</li>
                {% endfor %}
              </ul>
            </td>
            <td>{{ membership.expired ? 'production_membership.expired'|trans : membership.active ? 'production_membership.active'|trans : 'production_membership.blocked'|trans }}</td>
            <td>{{ membership.expiry ? membership.date|date(full_date) : '' }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="6">{{ 'production_membership.no_members'|trans }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div></p>
  {{ knp_pagination_render(memberships) }}
{% endblock %}
